{% extends '/maestras/dashboard.html' %}
{% block titulo_contenido %}
<h4>Grupos</h4>
<span>Visualiza todos los Grupos de tu organización</span>
{% endblock %}
{% block accion_contenido %}
<button class="btn btn-sm btn_primario"> Nuevo grupo</button>
{% endblock %}

{% block contenido %}
<div class="tabla-panel">
    <div class="table-responsive">
        <table class="table table-hover align-middle" id="tablaGrupos">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre del grupo</th>
                    <th>Descripción</th>
                    <th>Integrantes</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>GRP-002</td>
                    <td>Recursos Humanos</td>
                    <td>Gestión del personal y documentación institucional.</td>
                    <td>3</td>
                    <td>
                        <span class="badge bg-success">Activo</span>
                    </td>
                    <td class="acciones">
                        <button class="btn btn-sm btn-outline-primary"><i class="bi bi-eye-fill text-primary"></i></button>
                        <button class="btn btn-sm btn-outline-success "><i class="bi bi-toggle-on text-success"></i></button>
                        <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash2-fill text-danger"></i></button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{% endblock%}