{% extends '/maestras/dashboard.html' %}
{% block titulo_contenido %}
    <h4>Procesos</h4>
    <span>Visualiza todos los procesos de tu organización</span>
{% endblock %}
{% block accion_contenido %}
    <button class="btn btn-sm btn_primario"> Nuevo proceso</button>
{% endblock %}

{% block contenido %}
    <div class="tabla-panel">
        <div class="tabla-scroll table-responsive tabla-wrap">
            <table class=" table table-hover table-sm align-middle tabla-compacta w-100" id="tablaProcesos">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Proceso</th>
                        <th>Responsable</th>
                        <th>Estado</th>
                        <th class="text-center">N° Riesgos</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PRC-001</td>
                        <td>Gestión de Matrículas</td>
                        <td>Oficina Académica</td>
                        <td>
                            <span class="badge bg-success">Activo</span>
                        </td>
                        <td class="text-center">5</td>
                        <td class="text-center acciones">
                            <button class="btn btn-sm btn-outline-primary" ><i class="bi bi-eye-fill text-primary"></i></button>
                            <button class="btn btn-sm btn-outline-warning"><i class="bi bi-pencil-square text-warning"></i></button>
                            <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash2-fill text-danger"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}
